---
import BaseLayout from './Layout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <div class="gif">
        <img src="/images/laptop.webp" role="presentation" width="300" height="260" decoding="async">
    </div>
    <h2>{frontmatter.title}</h2>
    <ul class="badge__list">
        <li><span class="badge badge--item">PLATFORM</span>{frontmatter.platform}</li>
        <li><span class="badge badge--item">STACK</span>{frontmatter.stack}</li>
        <li><span class="badge badge--item">WEBSITE</span><a class="badge__link" href={frontmatter.website} target="_blank">{frontmatter.website}</a></li>
    </ul>
    <slot />
</BaseLayout>